<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jmplusblob;AccountKey=5UIZS6a96t8Z1stAQOYc0lggcHwk8nYWBFRNFivnpJ29ZasJ7cFuiaAzSCvgcNWYfJRNu+K6zIjr5WSW0RdQCw==" />
  </appSettings>

</configuration>